# React Ignore
/frontend/node_modules/
/frontend/build/
/frontend/.env
/frontend/.DS_Store

# Laravel Ignore
/backend/vendor/
/backend/node_modules/
/backend/storage/*.key
/backend/.env
/backend/.DS_Store
/backend/public/storage
/backend/storage/app/public
/backend/storage/framework/cache/data
/backend/storage/logs/*.log
/backend/storage/debugbar
/backend/.phpunit.result.cache
/backend/.idea
/backend/.vscode

# Ignore geral
.env
*.log
*.sqlite
*.sqlite3
*.zip
*.bak
*.tmp
*.swp
*.swo
*.DS_Store
Thumbs.db

# VSCode
.vscode/

# MySQL Ignore
*.sql
*.sql.gz
*.mysql
